doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  
  title Tempo Inflections in Grieg's 1903 Recording

  link(rel='stylesheet' href='css/general.css')
  
  include includes.pug
  
body
  .container
    .row.mt-4.mb-4
      | This page is collections of "sounding" analyses.
      
    .row 
      a(href='/sommerfugl') Sommerfugl
    .row
      p
      | An analysis of tempo inflections in Grieg's 1903 rendition of 
      | 'The Butterfly' from the Lyric pieces op 43.

    .row
      p 
    
    .row 
      a(href='/unique') l'Unique
    .row
      | A basse fondamentale for the Sarabande l'Unique from François Couperin's
      | Huitième Ordre of the Pieces de Clavecin.
    
  
  include foot.pug
