doctype html
head
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  
  title Tempo Inflections in Grieg's Recordings

  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')

  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.13/svg.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  script(type='text/javascript' src='https://www.verovio.org/javascript/develop/verovio-toolkit.js')
  script(type='text/javascript' src='js/metronome.js')
  script(type='text/javascript' src='js/inflections.js')
  
  style.
    #play {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1rem;
      margin-top: 1rem;
      cursor: pointer;
    }
    
    #mei_canvas svg {
      width: 100vw;
    }
    
    .stop {
      display: none;
    }

body
  .container
    .row
      small This is a "Skyline" representation (as suggested by Gottschewski) of Griegs 1903 recording of 'Butterfly'.
        |  Click on any bar to hear the corresponding extract from the recording. Hovering on any bar will highlight 
        | the corresponding bit in the score. On the left side, a metronome can 
        | be started, that follows precisely Grieg's tempo inflections. 
      
    #svl_canvas.row
    .row 
      small The score of the first section, where width and height of every measure are proportional to the 
        | real duration in the 1903 recording.
    #mei_canvas.row
    
  #play
    i.play.fas.fa-play
    i.stop.fas.fa-stop
    
